VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=fantasy-luzon.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fantasy-luzon
VITE_FIREBASE_STORAGE_BUCKET=fantasy-luzon.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=759769754748
VITE_FIREBASE_APP_ID=1:759769754748:web:6e402c85c5bb4f9a3dadf9
VITE_FIREBASE_MEASUREMENT_ID=G-D89L2G5PHL
VITE_FIREBASE_VAPID_KEY=your_vapid_key
